<nav class="nav navbar-inverse navbar-fixed-top navbar-header" [ngClass]="bgColor" role="navgation">
  <div class="container-fluid">
    <div class="navbar-header" [ngClass]="bgColor" style="width: 230px;position:relative">
      <a routerLink="/page" class="">
        <img [src]="logURL"
             style="position:absolute;left:-30px;top:0;bottom:-5px;right:0;margin:auto;width:100%;height:100%;">
        <!--< img src="/assets/img/forget_mail.png" style="width: 100%;height: 100%;">-->
      </a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav navborderL" style="margin-top:5px;">
        <!--<li style="line-height: 50px;"><a>{{slogan}}</a></li>-->
        <li *ngIf="loginUserData.console"><a class="header-nav" [ngClass]="headerActive == '0'?'header-active':''" routerLink="/page/home-page" (click)="changeFlagFn(0);headerActive='0'"><i class="fa fa-building"></i> 企业控制台 </a>
        </li>
        <li *ngIf="loginUserData.console"><a class="header-nav" [ngClass]="headerActive == '1'?'header-active':''" routerLink="/page/home-page" (click)="changeFlagFn(1);headerActive='1'"><i class="fa fa-user"></i> 个人控制台 </a>
        </li>
        <li *ngIf="loginUserData.overview"><a class="header-nav" routerLink="/page/home-page" (click)="overviewFn()"><i class="fa fa-pie-chart"></i> 总览</a></li>
        <li *ngIf="loginUserData.productService && entData.isShow">
          <a class="header-nav" [ngClass]="headerActive == '3'?'header-active':''" routerLink="/page/product/product-list"
             (click)="redirectTo('/page/product/product-list', '/page');headerActive='3'" ><i class="fa fa-th-large"></i> 产品与服务</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-top:5px;">
        <!-- <li><span>咨询电话：010-5873 4583</span></li> -->
        <li><a routerLink="/page/message" class="navborderR" title="消息中心"><i class="fa icon-message font18"></i><span
          class="visible-xs-inline">消息中心</span><span class="svoc-badge">{{msgUnreadCount>99?'99+':msgUnreadCount || 0}}</span></a></li>
        <li class="user-name dropdown">
          <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="padding: 15px 15px">{{loginUserData.entName}} - {{loginUserData.realName}} <i class="icon-angle-down"></i></a>-->
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="padding: 15px 15px">{{entShowName
            == ''? loginUserData.entName : entShowName}} <span *ngIf="roleType!=8"> —— </span>
            {{loginUserData.realName||nickName}}
            <i class="fa fa-angle-down"></i></a>
          <ul class="user-menu dropdown-menu">
            <li><a routerLink="/page/personal-center" (click)="redirectTo('/page/personal-center', '/page')"> <i
              class="fa icon-personal-center"></i> 个人信息</a></li>
            <li *ngIf="roleType!=8"><a routerLink="/page/consumption/personal-consumption"
                                       (click)="redirectTo('/page/consumption/personal-consumption', '/page')"> <i
              class="fa icon-personal-consumption"></i> 消费详单</a></li>
            <li *ngIf="roleType==1"><a routerLink="/page/change-admin"
                                       (click)="redirectTo('/page/change-admin', '/page')"> <i
              class="fa icon-change-admin"></i> 更换企业管理员</a>
            </li>
            <li *ngIf="roleType==1 || roleType==2"><a href="javascript:;" (click)="meetingSettingFn()"> <i
              class="fa icon-enter-setting"></i> 入会设置</a></li>
            <li *ngIf="roleType==8"><a routerLink="/page/create-ent" (click)="redirectTo('/page/create-ent', '/page')">
              <i
                class="fa icon-change-admin"></i> 创建企业</a></li>
            <!-- <li><a href="javascript:;" (click)="logoutFn()"> <i class="fa icon-logout"></i> 退出登录</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 入会设置 Modal -->
<nz-modal [nzVisible]="meetingSettingModal" [nzTitle]="'入会设置'" [nzContent]="meetingSettingContent"
          [nzFooter]="meetingSettingFooter" (nzOnCancel)="meetingSettingModal=false">
  <ng-template #meetingSettingContent>
    <div class="" style="padding:10px 30px">
      <form class="form-horizontal" id="settingForm">
        <div class="form-group">
          <label> <input type="checkbox" name="nonEnt" [(ngModel)]="setting.nonEnt"/> 允许非本企业用户入会</label>
        </div>
        <div class="form-group">
          <label> <input type="checkbox" name="nonRegistered" [(ngModel)]="setting.nonRegistered"/> 允许非注册用户入会</label>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #meetingSettingFooter>
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="meetingSettingModal=false"> 取 消</button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="sureSettingFn()"> 确 定</button>
  </ng-template>
</nz-modal>

<!--退出登录 Modal -->
<!-- <nz-modal [nzVisible]="logoutModal" [nzTitle]="'Modal'" [nzContent]="logoutContent" (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)">
  <ng-template #logoutContent>
  </ng-template>
</nz-modal> -->
