<div class="">
  <app-header-un class="black-header"></app-header-un>
  <div class="container">

    <div class="col-xs-6 col-xs-offset-3">
      <!-- 个人注册 第二步 提示注册成功 -->
      <div class="validae-email" *ngIf="userSuccess">
        <div class="text-center">
          <div style="margin: 60px auto"><img src="assets/img/icon/correct.png" alt=""></div>
          <h4 style="margin-bottom: 30px;">恭喜您，注册成功</h4>
          <h4 style="margin-bottom: 30px;">{{loginTimes}}s后自动登录</h4>
          <p style="margin-bottom:50px;"><span> <a href="javascript:void(0);" (click)="regToLoginFn()">立即登录</a></span>
          </p>
        </div>
      </div>

      <!-- 企业注册 第二步  登录邮箱进行验证-->
      <div class="validae-email" *ngIf="validaEmail">
        <div class="text-center">
          <div style="margin: 60px auto"><img src="assets/img/email_gray.png" alt=""></div>
          <h4 style="margin-bottom: 30px;">邮箱验证后，即可完成创建</h4>
          <p>只需要登录邮箱<span>{{thisValue}}</span>点击链接激活即可，验证后成为云起云用户，可登录使用，账号更安全！</p>

          <div style="margin: 30px auto;width: 300px;">
            <a href="javascript:;" class="btn btn-svoc login-btn" (click)="loginEmail()">立即登录邮箱验证</a>
          </div>
          <p style="margin-bottom: 30px;">若页面无法跳转，请您从邮箱官网登录！</p>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</div>
