<div class="">
  <div class="page-title"> —— 加入会议 —— </div>
  <div id="join" class="col-xs-10 col-xs-offset-1">
    <div class="join-img-bg">
      <form class="" [formGroup]="joinFormModel">
        <div calss="row" style="padding:50px 0;">
          <div class="col-xs-2 col-xs-offset-1 text-right">
            <span class="lh40 font16">会议号</span>
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-radius" placeholder="请输入会议号" formControlName="vmrNumber"/>
          </div>
        </div>
        <div class="row marginTB10 text-center">
          <a href="javascript:" class="btn btn-svoc font16" *ngIf="!isCanJoin"
             style="padding:10px 50px;" (click)="errorMsg()">加入会议</a>
          <a *ngIf="isCanJoin" href="{{settingData.WEBRTC_URL}}?conference={{joinFormModel.get('vmrNumber').value}}"
             class="btn btn-svoc font16" [ngClass]="!isCanJoin?'disabled':''"
             style="padding:10px 50px;" (click)="sureJoinFn(joinFormModel.get('vmrNumber').value)"
             target="_blank">加入会议</a>
        </div>
      </form>
    </div>
  </div>
</div>
