<div class="page-heading">消费明细</div>

<div class="white-bg">
  <!-- tab标签页 -->
  <ul class="nav nav-tabs" style="margin-bottom:10px;">
    <li [ngClass]="{'active':isActive==1}" (click)="isActive=1;changeTab(1)">
      <a href="javascript:void(0);">企业详单</a>
    </li>
    <li [ngClass]="{'active':isActive==2}" (click)="isActive=2;changeTab(2)">
      <a href="javascript:void(0);">个人详单</a>
    </li>
  </ul>


  <div class="tab-pane" *ngIf="!isViewDetail">
    <div class="">
      <form id="entForm" class="form-inline clearfix">
        <select class="form-control" name="month" id="monSelect" [(ngModel)]="monthSt"
                (change)="SelectMonthFn(monthSt)">
          <option *ngFor="let month of sixMonthArr" [value]="month.date">{{month.date}}</option>
        </select>
        <a title="下载消费明细" (click)="downEntExcel()">
          <img src="/assets/img/icon/u15405.png" alt="">
          <span>下载消费明细</span>
        </a>
        <div class="pull-right" *ngIf="isEntActive == 4">
          <input type="text" id="entSearch" placeholder="姓名" name="meetingName" class="form-radius"
                 [(ngModel)]="monSelectName" (keyup)="changeSearchFn()">
        </div>
        <select name="deptName" id="entOrgId" class="form-control" style="display:block;margin-top:10px;"
                [(ngModel)]="deptName"
                (change)="getSecondDepat(deptName)">
          <option value="" selected="selected">请选择一级部门</option>
          <option [(ngValue)]="item.orgId" *ngFor="let item of oneDepartmentList">{{ item.orgName }}</option>
        </select>
        <!-- 1asc升序；0desc降序 -->
        <input type="hidden" name="sort" id="sortId">
        <!-- 排序列 duration：时长排序；consume_time：消耗分钟数排序序-->
        <input type="hidden" name="property" id="propertyId" ng-value="property">
      </form>
      <!--<div class="entsumCout" style="padding-top: 10px;">
        <ul>
          <li [ngClass]="{'active':isEntActive==3}" (click)="isEntActive=3;changeEntTab(3)">
            <a href="javascript:void(0);">会议详单</a>
          </li>
          <li [ngClass]="{'active':isEntActive==4}" (click)="isEntActive=4;changeEntTab(4)">
            <a href="javascript:void(0);">直播详单</a>
          </li>
          <li [ngClass]="{'active':isEntActive==5}" (click)="isEntActive=5;changeEntTab(5)">
            <a href="javascript:void(0);">点播详单</a>
          </li>
        </ul>
      </div>-->
      <div
        style="clear:both;clear: both;margin-top: 20px;margin-bottom: -20px;height: 40px;line-height: 40px;background: #cfdced;border:1px solid #dedcdc;">
        <span style="margin-left:30px;">总金额（元）：<span class="red"> {{ allTimeAmount.allAmount }}</span></span>
        <span style="margin-left:30px;">总消耗分钟数：<span class="red">{{ allTimeAmount.allTime }}</span></span>
      </div>
      <!-- 列表 -->
      <div class="table-list" style="overflow: hidden; clear: both;   ">
        <table class="table" *ngIf="isEntActive == 3">
          <thead>
          <tr>
            <th>姓名</th>
            <th>一级部门／分公司</th>
            <th>消耗分钟数</th>
            <th>金额（元）</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody *ngIf="ConsumerDetailsList.list?.length>0; else elseDetailBlock" id="detailTbody">
          <tr *ngFor="let list of ConsumerDetailsList.list">
            <td>{{list.realName}}</td>
            <td>{{list.deptName == 'null' ? '' : list.deptName}}</td>
            <td>{{list.consumeTime*1000 | toSwitchTime}}</td>
            <td>{{list.billAmount}}</td>
            <td>
              <a href="javascript:;" class="btn btn-svoc btn-svoc-lg entLookBtn" (click)="entLookBtn(list)">查看</a>
            </td>
          </tr>
          </tbody>
          <!-- 无数据 -->
          <ng-template #elseDetailBlock>
            <tbody class="text-center" style="margin-top:5%;">
              <tr>
                <td colspan="5">暂无数据</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
        <!-- 分页 -->
        <div class="text-right">
          <nz-pagination [(nzPageIndex)]="ConsumerDetailsList.currentPage==0?1:ConsumerDetailsList.currentPage"
                         [nzTotal]="ConsumerDetailsList.totalPages"
                         (click)="pageChanged(ConsumerDetailsList.currentPage)"
                         [nzShowTotal]="ConsumerDetailsList.totalPages" [nzPageSize]="10"></nz-pagination>
        </div>
      </div>
    </div>
  </div>

  <!--查看详情-->
  <div *ngIf="isViewDetail">
    <div class="personLook">
      <form id="lookPersonForm" class="form-inline clearfix">
        <div class="row">
          <div class="permsgdiv col-xs-3">
            <p>姓名：
              <span class="perspan1">{{ConsumerDetailsEcho.realName}}</span>
            </p>
          </div>
          <div class="permsgdiv col-xs-3">
            <p>一级部门：
              <span class="perspan4">{{ConsumerDetailsEcho.deptName}}</span>
            </p>
          </div>
          <div class="permsgdiv col-xs-3">
            <p>消耗总分钟数：
              <span class="perspan2">{{consumeTimeDetal}}</span>
            </p>
          </div>
          <div class="permsgdiv col-xs-3">
            <p>金额：
              <span class="perspan1">{{ConsumerDetailsEcho.billAmount}}</span>
            </p>
          </div>
          <div class="pull-right clearfix">
            <input type="text" id="lookPersonSearch" name="meetingName" [(ngModel)]="getUserDataDetail.meetingName"
                   (keyup)="dataSearchFn()"
                   class="form-radius" style="width: 70%;" placeholder="会议名称">
          </div>
        </div>
      </form>
      <div class="table-list" style="overflow: hidden;">
        <table class="table ">
          <thead>
          <tr>
            <th>进入时间</th>
            <th>会议名称</th>
            <th>套餐名称</th>
            <th>分辨率</th>
            <th>登录地区</th>
            <th>呼叫方式</th>
            <th>使用终端</th>
            <th>消耗分钟数</th>
            <th>消费金额</th>
          </tr>
          </thead>
          <tbody *ngIf="ConsumerDetailsListDetail.list?.length>0; else elseDetailListBlock" id="personLookTbody">
          <tr *ngFor="let item of ConsumerDetailsListDetail.list">
            <td>{{ item.startTime | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{ item.conferenceName }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.resolution }}</td>
            <td>{{ item.location }}</td>
            <td>
              <span *ngIf="item.callWay=='in'">内部主叫</span>
              <span *ngIf="item.callWay=='out'">内部被叫</span>
            </td>
            <td>{{ item.terminal }}</td>
            <td>{{ item.consumeTime*1000 | toSwitchTime}}</td>
            <td>{{ item.billAmount }}</td>
          </tr>
          </tbody>
          <!-- 无数据 -->
          <ng-template #elseDetailListBlock>
            <tbody class="text-center" style="margin-top:5%;">
              <tr>
                <td colspan="9">暂无数据</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
        <!-- 分页 -->
        <div class="text-right">
          <nz-pagination
            [(nzPageIndex)]="ConsumerDetailsListDetail.currentPage==0?1:ConsumerDetailsListDetail.currentPage"
            [nzTotal]="ConsumerDetailsListDetail.totalPages"
            (click)="pageChangedDetails(ConsumerDetailsListDetail.currentPage)"
            [nzShowTotal]="ConsumerDetailsListDetail.totalPages" [nzPageSize]="10"></nz-pagination>
        </div>
      </div>
      <div class="text-center" style="margin-bottom: 20px;">
        <a class="btn btn-svoc personLookBack" style="width: 80px;" (click)="isViewDetail=false">返回</a>
      </div>
    </div>
  </div>

</div>
