<div class="page-heading">消费记录</div>

<div class="white-bg">
  <div class="balanceTit">
    <h4 class="font16">账户余额</h4>
    <div class="balanceCount clearfix">
      <span class="pull-left">¥ {{accountData}}元</span>
      <a class="recharge pull-left" [routerLink]="['/page/consumption/recharge','10000.00']">充 值</a>
    </div>
  </div>

  <!-- 消费列表 -->
  <div id="" class="clearfix active">
    <!--查询 -->
    <form class="form-inline" name="searchForm">
      <div class="pull-left">
        <div class="form-group-inline">
          <nz-datepicker style="width: 40%;" name="startTime" (ngModelChange)="_startDate=$event;_startValueChange()"
                         [(ngModel)]="_startDate" [nzDisabledDate]="_disabledStartDate"
                         [nzPlaceHolder]="'开始时间'"></nz-datepicker>
          <nz-datepicker style="width: 40%;" name="endTime" (ngModelChange)="_endDate=$event;_endValueChange()"
                         [(ngModel)]="_endDate" [nzDisabledDate]="_disabledEndDate"
                         [nzPlaceHolder]="'结束时间'"></nz-datepicker>
        </div>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="table-list ">
      <table class="table">
        <thead>
        <tr>
          <th>流水号</th>
          <th>时间</th>
          <th>分类</th>
          <th>收入/支出(元)</th>
          <!-- <th>支出（元）</th> -->
          <th>账户余额</th>
        </tr>
        </thead>
        <tbody *ngIf="tableData.list?.length>0; else elseBlock">
        <tr *ngFor="let list of tableData.list">
          <td>{{list.id}}</td>
          <td>{{list.operateTime | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>
            <span [ngSwitch]="list.type">
              <span *ngSwitchCase="1">充值</span>
              <span *ngSwitchCase="2">消费</span>
              <span *ngSwitchCase="3">退款至余额</span>
              <span *ngSwitchCase="4">退款</span>
            </span>
          </td>
          <td>{{list.accrual}}</td>
          <!-- <td>{{list.beforeBalance}}</td> -->
          <td>{{list.afterBalance}}</td>
        </tr>
        </tbody>
        <!-- 无数据 -->
        <ng-template #elseBlock>
          <tbody class="text-center" style="margin-top:5%;">
            <tr>
              <td colspan="5">暂无数据</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
    <!-- 分页 -->
    <div class="text-right">
      <nz-pagination [(nzPageIndex)]="tableData.currentPage==0?1:tableData.currentPage" [nzTotal]="tableData.totalPages"
                     (click)="pageChanged(tableData.currentPage)" [nzShowTotal]="tableData.totalPages"
                     [nzPageSize]="pageSize"></nz-pagination>
    </div>

  </div>


</div>
