<div class="">
  <app-header-un class="black-header"></app-header-un>
  <div class="container">
    <div class="" style="width:680px;margin: 50px auto;">
      <div class="col-xs-6 col-xs-offset-3">
        <form class="form-horizontal" name="bindPhoneForm" #bindPhoneForm="ngForm">
          <h5 class="text-center bind-title">绑定手机号</h5>
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control input-radius" name="phone" [(ngModel)]="bindDataHasPassword.mobile"
                     (ngModelChange)="checkPhoneFn(bindDataHasPassword.mobile)" maxlength="11" placeholder="请输入手机号">
              <p class="error">{{ checkPhoneMsg.msg}}</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 msg-code">
              <input type="text" class="form-control input-radius" name="msgCode" (ngModelChange)="bindDataInput()"
                     [(ngModel)]="bindDataHasPassword.verificationCode" maxlength="6" autocomplete="off"
                     #msgCode="ngModel" required
                     placeholder="请输入验证码">
              <!-- <button class="get-msg-code" (click)="sendMessage()" [disabled]="disabledClick">{{paracont}}</button> -->
              <timer-button class="get-msg-code" [sendType]="1" [phoneNum]="bindDataHasPassword.mobile"></timer-button>
              <div *ngIf="msgCode.errors && (msgCode.dirty || msgCode.touched)" class="error">
                <span [hidden]="!msgCode.errors.required">验证码是必填项</span>
              </div>
              <p class="error">{{ errorMsg}}</p>
            </div>
          </div>
          <div class="form-group" *ngIf="checkPhoneMsg.isCan">
            <div class="col-xs-12">
              <input type="password" class="form-control input-radius" name="password"
                     [(ngModel)]="bindDataHasPassword.password"
                     autocomplete="off" placeholder="请输入密码" (ngModelChange)="passwordInput()" #password="ngModel"
                     required maxlength="20" minlength="6">
              <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">
                <span [hidden]="!password.errors.required">密码是必填项</span>
                <span [hidden]="!password.errors.minlength">密码至少6位</span>
              </div>
              <!--<p *ngIf="passwordValidators" class="error">密码不得为空</p>-->
            </div>
          </div>
          <!--<div class="col-xs-12 error">{{errorMsg}}</div>-->
          <div class="form-group">
            <div class="col-xs-12">
              <a href="javascript:;" class="btn btn-svoc bind-btn"
                 [ngClass]="checkPhoneMsg.msg||!bindPhoneForm.valid||isDisabledBind?'disabled':''"
                 (click)="sureBind()">确认 </a>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
  <app-footer></app-footer>
</div>
