.index-page .date {
  color: #999;
}

.index-page .alert {
  padding: 7px 10px;
}

.index-page .alert .message {
  margin-right: 40px;
}

.index-con {
  padding: 10px;
}

.index-con .tit {
  margin: 10px 10px 20px 10px;
}

.index-con .indexpart .border3 {
  padding-bottom: 20px;
}

.index-con .indexpart h4 {
  margin: 10px;
}

.index-con .indexpart li {
  /*line-height: 32px;*/
  /* padding-top: 8px;
  border-bottom: 1px solid #f2f2f2;

  height: 32px; */
  padding-left: 10px;
}

.index-con .service-status li {
  border-bottom: none;
}

/* .index-con .service-status .btn{
    background: #ff9900;
    border-color: #ff9900;
} */
.index-con .service-status .cash-coupon {
  margin: 0 20px;
}

.index-con .part-tit {
  margin: 10px 20px;
}

.index-con .choose-package {
  margin-left: 15px;
}

.index-con .choose-package .tab-pane li {
  margin-top: 10px;
}

.index-con .choose-back {
  /* background: #f2f2f2; */
  height: 36px;
  line-height: 36px;
  margin: 10px 0;
  padding-left: 20px;
}

.index-con .choose-back p {
  display: inline-block;
  margin-left: 20px;
}

.index-con .choose-item {

}

.index-con .choose-package .nav-tabs {
  height: 39px;
}


/* 修改内容  start */
.todo-li{
  padding: 16px 20px;
  height: 52px;
  border: 1px solid #cdcdcd;
  background: #dfdfdf;
  margin-bottom: 20px;
}
.service-status-box{
  background: #dfdfdf;
  line-height: 40px;
  border: 1px solid #cdcdcd;
}
.inService-ul>li{
  background: #dfdfdf;
  padding: 8px;
  border: 1px solid #cdcdcd;
  height: 80px;
  line-height: 40px;
  padding-top: 20px;
}
.inService-ul>li span.fa{
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
}
.tab-calendar-color{
  background: #00A6AD;
}
.tab-price-color,
.tab-vmr-color{
  background: #F19373;
}
.tab-videoType-color,
.tab-cloudSpace-color{
  background: #5BBD2B;
}
.tab-costPrice-color,
.tab-flow-color{
  background: #426EB4;
}
.tab-useLength-color{
  background: #8273B0;
}
.tab-price-color,
.tab-concurrent-color{
  background: #D2A6C7;
}
.tab-livePrice-color,
.tab-sip-color{
  background: #F3C246;
}
.tab-title{
  border-radius: 5px;
  background: #108ee9;
  color: #fff;
}
/* 修改内容  end */
